header {
    padding: 10px 15px;
}

.topo {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.topo img {
    width: 150px;
}

.topo a{
    font-size: 18px;
    color: #000;
    text-decoration: none;
    text-transform: uppercase;
    padding: 5px;
    margin: 0 5px;
}

.topo a:hover{
    border-bottom: 2px solid black;
    color: gray;
}

@media (max-width: 550px){
    .topo{
        flex-direction: column;
    }
    nav {
        width: 100%;
        text-align: center;
        margin-top: 10px;
        border-top: 1px solid #aaadaf;
    }
}